* {
    box-sizing: border-box;
}

html, body, main {
  width: 100%;
  height: 100%;
  margin: 0;
}

body, main {
  display: flex;
  justify-content: center;
  align-items: center;
}

#board {
  background: lightgray;
  height: 95%;
  aspect-ratio: 7 / 5;
  display: grid;
  grid-template: repeat(7, 1fr) / repeat(7, 1fr);
  row-gap: 1px;
}

.row{
    border: solid black;
    align-content: center;
}

.zone {
    border: solid 2px black;
    align-content: center;
}

#hand2 {
    grid-area: 1 / 2 / auto / 7;
}

#bottomrow2 {
    grid-area: 2 / 2 / auto / 7;
}

#deck2 {
    grid-area: 2 / 1;
}

#upperrow2 {
    grid-area: 3 / 2 / auto / 7;
}

#graveyard2 {
    grid-area: 3 / 1;
}

#middlerow {
    grid-area: 4 / 2 / auto / 7;
}

#centerzone {
    grid-area: 4 / 4;
}

#upperrow1 {
    grid-area: 5 / 2 / auto / 7;
}

#graveyard1 {
    grid-area: 5 / 7;
}

#bottomrow1 {
    grid-area: 6 / 2 / auto / 7;
}

#deck1 {
    grid-area: 6 / 7;
}

#hand1 {
    grid-area: 7 / 2 / auto / 7;
}